{% extends 'base.html.twig' %}

{% block title %}Edit Objective{% endblock %}

{% block body %}
    <h1>Edit Objective</h1>

    {{ include('objective_entry/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('objective_entry/_delete_form.html.twig') }}
{% endblock %}
