{% extends 'base.html.twig' %}

{% block title %}New Objective{% endblock %}

{% block body %}
    <h1>Create new Objective</h1>

    {{ include('objective_entry/_form.html.twig') }}

    <a href="{{ path('objective_entry_index') }}">back to list</a>
{% endblock %}
