<table class="table table-striped"><tbody>
{% for person in people %}
    <tr>
        <td> 
            <a href="{{ path('people', {'id': person.id}) }}">
                {{ person.FullName }} 
            </a>
        </td>
        <td> 
            <a href="{{ path('objective_entry_new', {'employee': person.id}) }}">
                Add Objective
            </a>
        </td>
        <td> 
            <a href="{{ path('person_show', {'id': person.id}) }}">
                show 
            </a>
        </td>
        <td> 
    </tr>
{% endfor %}
</tbody></table>
