table.mbo {
    text-align: center;
}

table.mbo colgroup {
    border: 2px solid black;
}

table.mbo tbody.partition tr.header {
    background-color: #ddd;
}

table.mbo tbody.partition tr.header th,
table.mbo.table-bordered td {
    padding: .35rem;
}
table.mbo.table-bordered tr.partition td {
    padding: 0;
}

table.mbo input.form-control {
    padding: 0;
    display: inline;
    text-align: center;
}

table.mbo caption a {
    margin: 0 2em;
}
