{% extends 'base.html.twig' %}

{% block title %}Edit MBOYearly{% endblock %}

{% block body %}
    <h1>Edit MBOYearly</h1>

    {{ include('mbo_yearly/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mbo_yearly_index') }}">back to list</a>

    {{ include('mbo_yearly/_delete_form.html.twig') }}
{% endblock %}
