<nav class="main-menu navbar bd-navbar bg-dark">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('people_root') }}"> Find People </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('year') }}" > Browse Year </a>
        </li>
    </ul>
</nav>
