<table class="table table-striped"><tbody>
{% for person in people %}
    <tr>
        <td> 
            <a href="{{ path('candidate', {'id': person.id}) }}">
                {{ person.FullName }} 
            </a>
        </td>
        <td> 
            <a class="badge badge-success" 
                href="{{ path('objective_entry_new', {'employee': person.id}) }}">
                Add Objective
            </a>
        </td>
    </tr>
{% endfor %}
</tbody></table>
